<header class="app-header">
  <div class="header-container">
    <div class="logo">
      <div class="logo-icon">
        <i class="fa-solid fa-hotel"></i>
      </div>
      <div class="logo-text">
        <h2>Grand Luxury</h2>
        <span>Otel Yönetim Sistemi</span>
      </div>
    </div>

    @if (authService.isLoggedIn()) {
    <nav class="navigation-links">

      @if (authService.isCustomer() || authService.isAdmin()) {
      <a routerLink="/customer" routerLinkActive="active-link">
        <i class="fa-solid fa-calendar-check"></i>
        <span>Müşteri Portalı</span>
      </a>
      }

      @if (authService.isAdmin()) {
      <a routerLink="/admin" routerLinkActive="active-link">
        <i class="fa-solid fa-user-shield"></i>
        <span>Admin Paneli</span>
      </a>
      }

      <button class="logout-btn" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Çıkış Yap</span>
      </button>
    </nav>
    }

  </div>
</header>